body, button, input, select, textarea {font-size: 14px;font-family: Microsoft YaHei,arial,\5b8b\4f53; }

.item {
	width: 45%;
	margin: 2%;
	float: left;
	background-color: #ffffff;
    box-shadow: 0 1px 3px #ccc;
}

.item img{
	width: 100%;
}

.number{
	display: block;
    width: 160px;
    height: 125px;
    padding-left: 5px;
    background: url(images/numBg.png) no-repeat left top;
    background-size: 100% auto;
    position: absolute;
    color: #fff;
    text-align: left;
    line-height: 70px;
    top: -6px;
    left: 0;
    font-size: 30px;
}

#user_center .header{
	background: url(../images/user_center.jpg);
    background-size: cover;
    position: relative;
    padding-bottom: 15px;
    color: #fff;
    text-align: center;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

#user_center .header .header-info{
	text-align: right;
    line-height: 17px;
    display: inline-block;
    float: left;
    font-size: 1.2rem;
    line-height: 75px;
    width: 30%;
}

